@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font);
}

:root{
    --warna1: rgb(248, 111, 3);
    --warna2: rgb(15, 15, 15);
    --warna3: white;
    --font: 'Plus Jakarta Sans', sans-serif;
}

body{
    max-height: 685px;
    overflow-y: hidden;
}

#split{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    transition: all 0.5s;
}

#split.slide{
    grid-template-columns: 0 1fr;
}

/* sidebar start */
.sidebar{
    padding: 10px 10px 30px 10px;
    color: var(--warna3);
    background-color: var(--warna2);
    width: 100%;
    height: 685px;
    overflow-y: auto;
    transition: ease-in-out 0.3s;
}

.sidebar.slide{
    width: 0;
    padding: 0;
    overflow-y: none;
    display: hidden;
}

.sidebar h3{
    font-size: 30px;
    padding: 10px;
}

.sidebar h3 span{
    color: var(--warna1);
}

.sidebar ul li{
    padding: 10px;
    cursor: pointer;
}

.sidebar ul a:hover{
    background-color: rgb(34, 34, 34);
}

.sidebar ul a.active{
    background-color: rgb(34, 34, 34);
}

.sidebar ul a{
    display: grid;
    grid-template-columns: 0.2fr 1fr;
}

.sidebar ul a i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--warna3);
}

.sidebar ul a li{
    color: var(--warna3);
}
/* sidebar stop */



/* content start */
.container{
    height: 685px;
    overflow-y: scroll;
    transition: all 0.3s;
}

.container.slide{
    width: 100%;
}

header{
    width: 100%;
    padding: 10px 40px;
    background-color: var(--warna1);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 60px;
}

.dropdown{
    position: absolute;
    background-color: var(--warna1);
    border-radius: 10px;
    right: 1em;
    top: 0.3em;
    width: 150px;
    padding: 10px 0;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}

.dropdown.slide{
    z-index: 1;
    top: 4.5em;
    opacity: 1;
}

.dropdown ul{
    width: 100%;
}

.dropdown a {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    padding: 5px 30px;
}

.dropdown a li{
    color: var(--warna3);
}

.dropdown a i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--warna3);
}

.dropdown a:hover{
    background-color: rgb(202, 88, 0);
}

.button-sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60px;
    height: 40px;
}

.button-sidebar input{
    position: absolute;
    width: 60px;
    height: 40px;
    margin-left: -7px;
    opacity: 0;
}

.button-sidebar span{
    background-color: var(--warna3);
    width: 45px;
    height: 7px;
    border-radius: 10px;
    transition: all 0.3s;
}

.button-sidebar input:checked ~ .shape:nth-child(2){
    transform: translateX(-10px);
}

.button-sidebar input:checked ~ .shape:nth-child(4){
    transform: translateX(-10px);
}


/* main content start */
main{
    padding: 50px 40px;
    height: 100%;
}

main h3{
    font-size: 30px;
    margin-bottom: 25px;
}

main a{
    background-color: var(--warna1);
    padding: 10px 30px;
    color: var(--warna3);
    font-weight: bold;
    border-radius: 20px;
}

.list-content{
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 10px;
}

.content-matkul{
    padding: 20px;
    border-radius: 20px;
    border: 1px solid var(--warna1);
}

.content-matkul h3{
    margin-bottom: 10px;
    font-size: 20px;
}

.icon{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    padding-top: 20px;
    padding-bottom: 10px;
    gap: 5px;
}

.icon a{
    padding: 10px 20px;
    width: 100px;
    margin: 0 20px;
}

.icon i{
    width: 50%;
    display: flex;
}

.icon i p{
    font-size: 15px;
    padding-left: 5px;
}
/* main content stop */

footer{
    position: fixed;
    width: 100%;
    color: var(--warna1);
    height: 60px;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--warna3);
}

.responsive-menu{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 80px;
}

.responsive-menu a i{
    color: var(--warna1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    transition: all 0.3s;
}

.responsive-menu a i:hover{
    background-color: var(--warna1);
    color: var(--warna3);
}

.responsive-menu a.active i{
    background-color: var(--warna1);
    color: var(--warna3);
}

@media screen and (max-width: 800px){
    #split{
        grid-template-columns: 0 1fr;
    }

    .sidebar{
        width: 0;
        padding: 0;
        overflow-y: none;
        display: hidden;
    }

    .button-sidebar{
        opacity: 0;
        z-index: -1;
    }

    footer{
        display: flex;
    }

    main{
        padding: 50px 20px;
    }

    header{
        padding: 10px 20px;
    }
}